langchain
python-dotenv
langchain-openai
langchain-core
langchain-community
bs4
faiss-cpu
pandas
anthropic
matplotlib
pydantic
langgraph
langchain_groq
langgraph-cli[inmem]
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_huggingface
langchain_google_genai
ipywidgets
boto3
langchain-pinecone
weaviate-client
langchain_weaviate
wikipedia
youtube_search
langgraph
chromadb
langchain-chroma