# Python
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
*.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/


# LangChain vector stores

/app/chroma_store/
*.bin
chroma.sqlite3

